# Carpetas generadas por Unity (NO SUBIR)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Carpetas especificas del proyecto
Howlhund/[Ll]ibrary/
Howlhund/[Tt]emp/
Howlhund/[Oo]bj/
Howlhund/[Bb]uild/
Howlhund/[Bb]uilds/
Howlhund/[Ll]ogs/
Howlhund/[Uu]ser[Ss]ettings/

# Archivos de sistema y IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Builds y basura de OS
.DS_Store
Thumbs.db
